// İmport global styles and page styles.
@import "_styleHome";
@import "_variable";

// Global styles example:
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $global-font;
}