// Variables: 
$bg-primary-pm: #0E1622;
$bg-primary-am: #005da8;

$txt-primary-pm: #446BA5;
$txt-primary-am: #ffbb00;

$txt-sub-pm: #C8CAD6;
$txt-sub-am: #cac89c;

$moon-shadow: #C7CDEF;
$sun-shadow: #ffee00;

$global-font: Arial, Helvetica;